<html>
<head>
    <title>
        Register
    </title>
    <style>
			#grad1 {
  					background-image: linear-gradient(#0000FF, #FFCCFF);
  					min-width: 100%;
  					min-height: 100%;
				}
			#alpha {
					margin: auto;
					width: 98%;
  					position: absolute;
  					top: 55%;
  					-ms-transform: translateY(-50%);
  					transform: translateY(-50%);
				}
		</style>
</head>
<body>
    <div id="grad1">
        <p style="font-size:30px; text-align: center"><br>
			<img src ="Images/Tiger_tutors.png" width="200" height="200"><br>
            CREATE YOUR ACCOUNT
		</p>
        <br><br>
        <div id="alpha">
            <div style="text-align: center">
        <form action="handle_register" method="post">
        Username:<br>
        <input type="text" name="username" >
        <br>
        Email:<br>
        <input type="text" name="email">
        <br>
        Password:<br>
        <input type="password" name="password" >
        <br>
        <input type="radio" name="Register" value="Tutor" style="center"> Tutor<br>
        <input type="radio" name="Register" value="Student" style="center"> Student<br>
        <br><br>
        <input onclick="window.location.href = 'Login.html';" type="submit" value="Let's Go!" />
        </form>
            </div>
        </div>
    </div>
</body>
</html>